{% extends "base.html" %}
{% load static %}


{% block header %}
    <h1>All Products</h1>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    {% csrf_token %}
                     <td>
                        <div id="additional-data">
                            <p id="additional-info">{{ product.name }}</p>
                        </div>
                    </td>
                    <td>{{ product.price }}</td>
                    <td><a href="{% url 'detail_product' product.product_id %}">Details</a></td>
                    <td>
                        <input type="button" value="-"
                           onclick="decreaseQuantity('quantity_{{ product.product_id }}')"
                        >
                        <form action="{% url 'products' %}" method="post">
                            {% csrf_token %}
                            <div class="productCountWrapper">
                                <input type="hidden" name="product_id" value="{{ product.product_id }}">
                                <input type="hidden" name="command" value="Add">
                                <input id="quantity_{{ product.product_id }}"
                                   name="quantity"
                                   value="1"
                                   min="1"
                                   readonly
                                >
                                <button type="submit">add to checkout</button>
                            </div>
                        </form>
                        <input type="button" value="+"
                           onclick="increaseQuantity('quantity_{{ product.product_id }}')"
                        >
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <a href="{% url 'add_product'%}">Add product</a>
    <a href="{% url 'checkout'%}">checkout</a>
{% endblock %}


{% block scriptjs %}
    <script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}