{% extends "base.html" %}
{% load static %}


{% block header %}
    <h1> checkout</h1>
{% endblock %}

{% block content %}
    {% for product in order %}
        <div>
            <p>Name: {{ product.name }}</p>
            <p>Price: ${{ product.price }}</p>
            <input type="button" value="-"
               onclick="decreaseQuantity('quantity_{{ product.product_id }}')"
            >
            <form action="{% url 'checkout:checkout' %}" method="post">
                {% csrf_token %}
                <div class="productCountWrapper">
                    <input type="hidden" name="product_id" value="{{ product.product_id }}">
                    <input type="hidden" name="command" value="Add">
                    <input id="quantity_{{ product.product_id }}"
                       name="quantity"
                       value="{{ product.quantity }}"
                       readonly
                    >
                    <button type="submit">change quantity</button>
                </div>
            </form>

            <input type="button" value="+"
               onclick="increaseQuantity('quantity_{{ product.product_id }}')"
            >
            <form action="{% url 'checkout:checkout' %}" method="post">
                {% csrf_token %}
                <div class="productCountWrapper">
                    <input type="hidden" name="product_id" value="{{ product.product_id }}">
                    <input type="hidden" name="command" value="DeleteProduct">
                    <input
                        name="quantity"
                        value="{{ product.quantity }}"
                        type="hidden"
                    >
                    <button type="submit">delete product</button>
                </div>
            </form>
        </div>
        <hr>
    {% endfor %}
    <form action="{% url 'checkout:checkout' %}" method="post">
        {% csrf_token %}
        <div class="productCountWrapper">
            <input type="hidden" name="product_id" value="1212">
            <input type="hidden" name="command" value="DeleteAll">
            <input
                type="hidden"
                name="quantity"
                value="121"
            >
            <button type="submit">delete all</button>
        </div>
    </form>
{% endblock %}

{% block sidebar %}
    <a href="{% url 'products:products'%}">My products</a>
{% endblock %}

{% block scriptjs %}
    <script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}
