{% extends "base.html" %}
{% load static %}

{% block header %}
    {% if user.is_authenticated %}
        <p> user:{{user.username}}</p>
        <p> <a href="{% url 'authentication:logout' %}" >LOG OUT</a> </p>
        {% else %}
        <p><a href="{% url 'authentication:login' %}">Log in</a></p>
    {% endif %}
    <h1>All Products</h1>
{% endblock %}

{% block content %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}

    <h2>Categories:</h2>
    {% for category in categories %}
        <div> <a href="{% url 'products:products_by_category' category.name %}">{{category.name}}</a> </div>
    {% endfor %}

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    {% csrf_token %}
                     <td>
                        <div id="additional-data">
                            <p id="additional-info">{{ product.name }}</p>
                        </div>
                    </td>
                    <td>{{ product.price }}</td>
                    <td><a href="{% url 'products:detail_product' product.product_id %}">Details</a></td>
                    {% if user.is_authenticated %}
                        <td>
                            <input type="button" value="-"
                               onclick="decreaseQuantity('quantity_{{ product.product_id }}')"
                            >
                            <form action="{% url 'products:products' %}" method="post">
                                {% csrf_token %}
                                <div class="productCountWrapper">
                                    <input type="hidden" name="product_id" value="{{ product.product_id }}">
                                    <input type="hidden" name="command" value="Add">
                                    <input id="quantity_{{ product.product_id }}"
                                       name="quantity"
                                       value="1"
                                       min="1"
                                       readonly
                                    >
                                    <button type="submit">add to checkout</button>
                                </div>
                            </form>
                            <input type="button" value="+"
                               onclick="increaseQuantity('quantity_{{ product.product_id }}')"
                            >
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    {% if user.is_superuser %}
        <a href="{% url 'products:add_product'%}">Add product</a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'checkout:checkout'%}">checkout</a>
    {% endif %}
    
{% endblock %}


{% block scriptjs %}
    <script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}