{% extends "base.html" %}
{% load static %}

{% block head %}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
{% endblock %}

{% block header %}
    <h1> checkout</h1>
{% endblock %}

{% block content %}
    <div class="order_products">
        {% for product in order %}
            <div class="container_product_{{product.product_id}}">
                <p>Name: {{ product.name }}</p>
                <p>Price: ${{ product.price }}</p>
                <input type="button" value="-"
                   onclick="decreaseQuantity('quantity_{{ product.product_id }}')"
                >
                <form action="{% url 'checkout:checkout' %}" method="put">
                    {% csrf_token %}
                    <div class="productCountWrapper">
                        <input type="hidden" name="product_id" value="{{ product.product_id }}">
                        <input type="hidden" name="command" value="Add">
                        <input id="quantity_{{ product.product_id }}"
                           name="quantity"
                           value="{{ product.quantity }}"
                           readonly
                        >
                        <button type="submit" class="change_quantity_product_btn" data-productid="{{ product.product_id }}">change quantity</button>
                    </div>
                </form>

                <input type="button" value="+"
                   onclick="increaseQuantity('quantity_{{ product.product_id }}')"
                >
                <form action="{% url 'checkout:checkout' %}" method="delete">
                    {% csrf_token %}
                    <div class="productCountWrapper">
                        <input type="hidden" name="product_id" value="{{ product.product_id }}">
                        <input type="hidden" name="command" value="DeleteProduct">
                        <input
                            name="quantity"
                            value="{{ product.quantity }}"
                            type="hidden"
                        >
                        <button class="delete_product_btn" data-productid="{{ product.product_id }}" type="submit">delete product</button>
                    </div>
                </form>
                <hr>
            </div>
        {% endfor %}
        <form action="{% url 'checkout:checkout' %}" method="delete">
            {% csrf_token %}
            <div class="productCountWrapper">
                <input type="hidden" name="product_id" value="1212">
                <input type="hidden" name="command" value="DeleteAll">
                <input
                    type="hidden"
                    name="quantity"
                    value="121"
                >
                <button class="delete_all_products_btn" type="submit">delete all</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block sidebar %}
    <a href="{% url 'products:products'%}">My products</a>
{% endblock %}

{% block scriptjs %}
    <script src="{% static 'products/js/products.js' %}"></script>
    <script src="{% static 'checkout/js/checkout_change_quantity_product.js' %}"></script>
    <script src="{% static 'checkout/js/checkout_delete_product.js' %}"></script>
    <script src="{% static 'checkout/js/checkout_delete_all_products.js' %}"></script>
{% endblock %}